<menu></menu>
<div class="container">
    <div class=" col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Page
            </div>
            <div class="panel-body">
                <!-- Edit Page Form  -->
                <form class="form-horizontal" name="myForm" novalidate>
                    <!--  Page Title  -->
                    <div class="form-group" ng-class="{ 'has-error' : myForm.title.$invalid && !myForm.title.$pristine }">
                        <label for="page-title" class="col-sm-4 control-label">Page title</label>
                        <div class="col-sm-6">
                            <input name="title" type="text" id="page-title" class="form-control" ng-value="{{ page.title }}" ng-model="page.page.title" required>
                            <p ng-show="myForm.title.$invalid && !myForm.title.$pristine" class="help-block">Page title is required.</p>
                        </div>
                    </div>
                    <!-- Page Subject -->
                        <div class="form-group" ng-class="{ 'has-error' : myForm.subject.$invalid && !myForm.subject.$pristine }">
                            <label for="page-name" class="col-sm-4 control-label">Page Subject</label>
                            <div class="col-sm-6">
                                <select name="subject" class="form-control" ng-model="page.page.subject_id" ng-options="subject.id as subject.name for subject in page.subjects" required>
                                    <option value="">Please select</option>
                                </select>
                                <p ng-show="myForm.subject.$invalid && !myForm.subject.$pristine" class="help-block">Subject is required.</p>
                            </div>
                        </div>
                    <!--  Page Visibility -->
                    <div class="form-group" ng-class="{ 'has-error' : myForm.visible.$invalid && !myForm.visible.$pristine }">
                        <label class="col-sm-4 control-label">Visibility</label>
                        <div class="col-sm-6">
                            <select name="visible" ng-model="page.page.visible" ng-options="obj.value as obj.name for obj in page.pageVisible" class="form-control" required>
                                <option value=""> Please select </option>
                            </select>
                            <p ng-show="myForm.visible.$invalid && !myForm.visible.$pristine" class="help-block">Visibility is required.</p>
                        </div>
                    </div>
                    <!--  Page Content  -->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Content:</label>
                        <div class="col-sm-6">                          
                            <textarea class="form-control" rows="5" ng-value="{{ page.content }}" ng-model="page.page.content"></textarea>
                        </div>
                    </div>

                    <!--  Add Page Button -->
                    <div class="form-group">
                        <div class="col-sm-offset-4">
                            <button type="submit" class="btn btn-primary" ng-click="page.updatePage(page.id)" ui-sref="pages" ng-disabled="myForm.$invalid">
                                Save
                            </button>
                            <button type="button" class="btn btn-default" ui-sref="pages">
                                Back to Pages
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
